# =========================
# .NET
# =========================
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / JetBrains
# =========================
.idea/

# =========================
# VS Code
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Publish folder
# =========================
publish/